<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Inglés Online</h1>
      <span class="spacer"></span>
      <div>
        <a mat-button [routerLink]="'/teoria'"> 
            <mat-icon>menu_book</mat-icon>
            Teoría
        </a>
        <a mat-button [routerLink]="'/evaluacion'"> 
            <mat-icon>edit</mat-icon>
            AutoEvaluación 
        </a>
        <a mat-button [routerLink]="'/perfil'"> 
          <mat-icon>person</mat-icon>
            Perfil 
        </a>
        <a mat-button [routerLink]="'/informacion'"> 
            <mat-icon>info</mat-icon>
              Información 
        </a>
        <a mat-button (click)="logout()"> 
            <mat-icon>exit_to_app</mat-icon>
              Salir 
        </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="background: #5c6bc0;height: 40px;">
        <h1>Perfil</h1>
      </mat-toolbar-row>
  </mat-toolbar>
<div class="container">
    <div class="row">
        <mat-card>
            <mat-card-title>Perfil del Alumno</mat-card-title>
            <mat-card-content>
                <div class="row">
                    <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>Nombre</mat-label>
                        <input matInput readonly value="{{estudiante.nombre}}" placeholder="Nombre">
                    </mat-form-field>
                     <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>Apellido</mat-label>
                        <input matInput readonly value="{{estudiante.apellido}}" placeholder="Apellido">
                    </mat-form-field> 
                    <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>DNI</mat-label>
                        <input matInput readonly value="{{estudiante.dni}}" placeholder="DNI">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>Curso</mat-label>
                        <input matInput readonly value="{{estudiante.curso}}" placeholder="Curso">
                    </mat-form-field>
                     <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>División</mat-label>
                        <input matInput readonly value="{{estudiante.division}}" placeholder="División">
                    </mat-form-field> 
                    <mat-form-field style="width: 33%;" appearance="fill" floatLabel="always">
                        <mat-label>Puntuación</mat-label>
                        <input matInput readonly value="{{estudiante.puntuacion}}" placeholder="Puntuación">
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
       
    </div>
</div>  

