<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>English Soft</h1>
      <span class="spacer"></span>
      <div>
        <a mat-button [routerLink]="'/teoria'"> 
            <mat-icon>menu_book</mat-icon>
            Teoría
        </a>
        <a mat-button [routerLink]="'/evaluacion'"> 
            <mat-icon>edit</mat-icon>
            AutoEvaluación 
        </a>
        <a mat-button [routerLink]="'/perfil'"> 
          <mat-icon>person</mat-icon>
            Perfil 
        </a>
        <a mat-button [routerLink]="'/informacion'"> 
          <mat-icon>info</mat-icon>
            Información 
        </a>
        <a mat-button (click)="logout()"> 
            <mat-icon>exit_to_app</mat-icon>
              Salir 
        </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="background: #5c6bc0;height: 40px;">
        <h1> Módulo Teórico </h1> 
      </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="row" *ngIf="modulo_actual == 0">
      <div *ngFor="let mod of modulos" class="col-4">
        <mat-card>
          <mat-card-header>
              <mat-card-title> Módulo {{mod}} </mat-card-title>
              <mat-card-subtitle> {{temas[mod - 1]}}</mat-card-subtitle>
              <button mat-raised-button color="accent" (click)="onChangeMod(mod)" > Ver  <mat-icon>chevron_right</mat-icon> </button>    
          </mat-card-header>
      </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="modulo_actual == 1" class="container-page"> 
          <app-moduloTeorico1 (volver)="volver()"> </app-moduloTeorico1>
      </div>
      <div *ngIf="modulo_actual==2" class="container-page">
        <app-moduloTeorico2 (volver)="volver()"> </app-moduloTeorico2>
      </div>

      <div *ngIf="modulo_actual>2" class="container-page">
          <p>En desarrollo</p>
      </div>
        
        <button mat-raised-button color="primary" style="position: fixed;right: 10px;bottom: 10px;" (click)="irEvaluacion()" *ngIf="modulo_actual > 0">
          <mat-icon>edit</mat-icon>
          Ir a la evaluación
        </button>
      </div>
    </div>
  </div>