<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>English Soft</h1>
      <span class="spacer"></span>
      <div>
        <a mat-button [routerLink]="'/teoria'"> 
            <mat-icon>menu_book</mat-icon>
            Teoría
        </a>
        <a mat-button [routerLink]="'/evaluacion'"> 
            <mat-icon>edit</mat-icon>
            AutoEvaluación 
        </a>
        <a mat-button [routerLink]="'/perfil'"> 
          <mat-icon>person</mat-icon>
            Perfil 
        </a>
        <a mat-button [routerLink]="'/informacion'"> 
            <mat-icon>info</mat-icon>
              Información 
        </a>
        <a mat-button (click)="logout()"> 
            <mat-icon>exit_to_app</mat-icon>
              Salir 
        </a>
      </div>
        </mat-toolbar-row>
        <mat-toolbar-row style="background: #5c6bc0;height: 40px;">
            <h1>Módulo de AutoEvaluación </h1>
        </mat-toolbar-row>
    </mat-toolbar>
  <div class="container">
    <div class="row" *ngIf="modulo_actual == 0">
        <div *ngFor="let mod of modulos" class="col-4">
          <mat-card class="modulo-evaliacion">
            <mat-card-header>
                <mat-card-title> Evaluación {{mod}} </mat-card-title>
                <mat-card-subtitle> {{temas[mod - 1]}}</mat-card-subtitle>
                <button mat-raised-button (click)="onChangeMod(mod)" > Ver  <mat-icon>chevron_right</mat-icon> </button>    
            </mat-card-header>
        </mat-card>
        </div>
    </div>
    <div class="container-page" *ngIf="modulo_actual == 1">
        <app-moduloEvaluacion1 
            [estudiante]="estudiante"
            (actualizarEstudiante)="actualizarEstudiante($event)"
            (volver)="volver()"
        > </app-moduloEvaluacion1>
    </div>
    <div class="container-page" *ngIf="modulo_actual == 2">
        <app-moduloEvaluacion2 (volver)="volver()"> </app-moduloEvaluacion2>
    </div>

    <div class="container page" *ngIf="revision">
      <div class="container-page">
          <h3>Revisión</h3>
          <ul>
              <li *ngFor="let item of respuestas"> {{item}} </li>
          </ul>
      </div>
      <button mat-raised-button color="accent" (click)="irPerfil()" style="position: absolute;right: 10px;bottom: 10px;">
          <mat-icon>edit</mat-icon>
          OK
      </button>
    </div>

  </div>