<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Estadística Online</h1>
      <span class="spacer"></span>
      <div>
        <a mat-button [routerLink]="'/teoria'"> 
            <mat-icon>menu_book</mat-icon>
            Teoría
        </a>
        <a mat-button [routerLink]="'/evaluacion'"> 
            <mat-icon>edit</mat-icon>
            AutoEvaluación 
        </a>
        <a mat-button [routerLink]="'/perfil'"> 
          <mat-icon>person</mat-icon>
            Perfil 
        </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="background: #5c6bc0;height: 40px;">
        <h1>Módulo de AutoEvaluación </h1>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav style="background: #3f51b5;" mode="side" opened [disableClose]="true" >
      <mat-nav-list>
        <mat-list-item  (click)="verEvaluacion(1)">
            <span style="color: #FFF;" (click)="verEvaluacion(1)">Evaluación 1</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(1)" *ngIf="modulo_actual == 1">edit</mat-icon>
        </mat-list-item>
        
        <div class="dropdown-divider"></div>
  
        <mat-list-item  (click)="verEvaluacion(2)">
            <span style="color: #FFF;" (click)="verEvaluacion(2)">Evaluación 2</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(2)" *ngIf="modulo_actual == 2">edit</mat-icon>
        </mat-list-item>

        <div class="dropdown-divider"></div>

        <mat-list-item  (click)="verEvaluacion(3)">
            <span style="color: #FFF;" (click)="verEvaluacion(3)">Evaluación 3</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(3)" *ngIf="modulo_actual == 3">edit</mat-icon>
        </mat-list-item>

        <div class="dropdown-divider"></div>

        <mat-list-item  (click)="verEvaluacion(4)">
            <span style="color: #FFF;" (click)="verEvaluacion(4)">Evaluación 4</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(4)" *ngIf="modulo_actual == 4">edit</mat-icon>
        </mat-list-item>

        <div class="dropdown-divider"></div>

        <mat-list-item  (click)="verEvaluacion(5)">
            <span style="color: #FFF;" (click)="verEvaluacion(5)">Evaluación 5</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(5)" *ngIf="modulo_actual == 5">edit</mat-icon>
        </mat-list-item>

        <div class="dropdown-divider"></div>

        <mat-list-item  (click)="verEvaluacion(6)">
            <span style="color: #FFF;" (click)="verEvaluacion(6)">Evaluación 6</span>
            <mat-icon style="color: #FFF;" mat-list-icon (click)="verEvaluacion(6)" *ngIf="modulo_actual == 6">edit</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-page" *ngIf="modulo_actual == 1">
            <h2>Completa los recuadros con los adjetivos posesivos correctos.</h2>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/5.jpg" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    Paul lives in a flat. This is  <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input1"
                        placeholder="Completar" >
                    </mat-form-field> flat.
                  </p>
                </mat-card-content>
              </mat-card>
            <hr>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/6.jpg" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    Today it's <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input2"
                        placeholder="Completar" >
                    </mat-form-field> birthday.
                  </p>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/7.jpg" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    Paul dances with  <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input3"
                        placeholder="Completar" >
                    </mat-form-field> girlfriend.
                  </p>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/8.png" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    We have a son. This is  <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input4"
                        placeholder="Completar" >
                    </mat-form-field> son.
                  </p>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/9.png" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    You work with  <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input5"
                        placeholder="Completar" >
                    </mat-form-field> hands.
                  </p>
                </mat-card-content>
            </mat-card>
            <hr>
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/imgs/10.jpg" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
                <mat-card-content>
                  <p>
                    <mat-form-field>
                        <input class="form-control" type="text" matInput 
                        [(ngModel)]="input6"
                        placeholder="Completar" >
                    </mat-form-field> glasses are black.
                  </p>
                </mat-card-content>
            </mat-card>
            <button mat-raised-button color="accent" (click)="ComprobarEvaluacion(1)" style="position: absolute;right: 10 px;bottom: 10px;">
                <mat-icon>edit</mat-icon>
                Verificar
            </button>
            <!-- <mat-list>
                <div mat-subheader>Pregunta 1</div>
                <mat-list-item>  
                    <div mat-line>
                        
                    </div>
                    <br>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 2</div>
                <div mat-subheader>Complete el campo faltante</div>
                <mat-list-item> 
                    <div mat-line>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            <mat-form-field>
                                <input class="form-control" type="text" matInput 
                                placeholder="Completar" >
                            </mat-form-field>
                            Nisi velit quam natus? Fuga ullam similique pariatur iusto sit
                        </p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 3</div>
                <div mat-subheader>Verdadero y Falso</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">Verdadero</mat-radio-button>
                            <mat-radio-button value="2">Falso</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 4</div>
                <div mat-subheader>Multiple Choice</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">choice 1</mat-radio-button>
                            <mat-radio-button value="2">choice 2</mat-radio-button>
                            <mat-radio-button value="3">choice 3</mat-radio-button>
                            <mat-radio-button value="4">choice 4</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 5</div>
                <div mat-subheader>Verdadero y Falso</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">Verdadero</mat-radio-button>
                            <mat-radio-button value="2">Falso</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 6</div>
                <div mat-subheader>Complete el campo faltante</div>
                <mat-list-item> 
                    <div mat-line>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            <mat-form-field>
                                <input class="form-control" type="text" matInput 
                                placeholder="Completar" >
                            </mat-form-field>
                            Nisi velit quam natus? Fuga ullam similique pariatur iusto sit
                        </p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 7</div>
                <div mat-subheader>Multiple Choice</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">choice 1</mat-radio-button>
                            <mat-radio-button value="2">choice 2</mat-radio-button>
                            <mat-radio-button value="3">choice 3</mat-radio-button>
                            <mat-radio-button value="4">choice 4</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
                <div mat-subheader>Pregunta 8</div>
                <div mat-subheader>Complete el campo faltante</div>
                <mat-list-item> 
                    <div mat-line>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            <mat-form-field>
                                <input class="form-control" type="text" matInput 
                                placeholder="Completar" >
                            </mat-form-field>
                            Nisi velit quam natus? Fuga ullam similique pariatur iusto sit
                        </p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 9</div>
                <div mat-subheader>Verdadero y Falso</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">Verdadero</mat-radio-button>
                            <mat-radio-button value="2">Falso</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Pregunta 10</div>
                <div mat-subheader>Multiple Choice</div>
                <mat-list-item>  
                    <div mat-line>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident nobis accusantium nostrum beatae rerum laborum ut, optio culpa molestias magni aspernatur quos, atque a iusto quam quod mollitia unde.</p>
                    </div>
                    <br>
                    <div mat-line>
                        <mat-radio-group style="position: absolute;" aria-label="Seleccione una opción">
                            <mat-radio-button value="1">choice 1</mat-radio-button>
                            <mat-radio-button value="2">choice 2</mat-radio-button>
                            <mat-radio-button value="3">choice 3</mat-radio-button>
                            <mat-radio-button value="4">choice 4</mat-radio-button>
                        </mat-radio-group>    
                    </div>
                </mat-list-item>
            </mat-list> -->
        </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>