<div class="container">
   <button mat-raised-button class="btn-volver" (click)="onClickVolver()">
    <mat-icon>arrow_back</mat-icon>
    Volver a los módulos 
  </button>
    <h1 class="teoria-titulo">Módulo 2. Present Simple - Presente Simple</h1>
    <hr class="teoria-hr">
    <mat-card class="teoria-subtitle-card"> 
      <div class="row">
        <div class="col-2">
          <div mat-card-avatar class="teoria-subtitle-card-img"></div>
        </div>
        <div class="col-10">
          <mat-card-header>
            <mat-card-title class="teoria-subtitle-card-title"> ¿Que es? </mat-card-title>  
          </mat-card-header>
          <mat-card-content class="teoria-subtitle-card-text">
            <p>El tiempo Presente Simple es el tiempo de verbo que se utiliza, entre otras cosas, para expresar acciones, eventos o situaciones al momento en que se habla.</p>        
          </mat-card-content>    
        </div>
      </div>
    </mat-card>
    <hr class="teoria-hr"> 
    <div class="row mt-2">
      <div class="col-6 offset-3">
        <mat-card class="teoria-card-ejemplos">
          Illustration by <a href="https://icons8.com/illustrations/author/ZQDZn9ZZj5aQ">Violetta Barsuk</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
          <img mat-card-image src="../../../../assets/imgs/teacher.png" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
          <mat-card-footer class="teoria-card-ejemplos-footer" style="display: flex; flex-direction: column; height: 6em; align-items: center; font-size: 1.4em;">
            <p> Ann  <strong> is </strong> a teacher | Ann es maestra. </p>
            <p> She <strong> lives </strong> in London | Vive en Londres. </p>
            <p> She <strong> wears </strong> glasses | Ella usa anteojos. </p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <mat-card class="teoria-subtitle-card mt-2"> 
      <mat-card-content class="teoria-subtitle-card-text">
        <p>Este tiempo también se usa para expresar acciones habituales, que transcurren con cierta frecuencia.</p>
      </mat-card-content>    
    </mat-card>
    <h2 class="teoria-text-grande mt-3">Por ejemplo: </h2>
    <mat-card class="teoria-info-card" style="width: 70%; left: 15%;"> 
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" class="teoria-info-card-text"> Ann   &nbsp; <strong> gets </strong> &nbsp; up at 7.  | Ann se despierta a las 7. </mat-list-item>
          <mat-list-item role="listitem" class="teoria-info-card-text"> She usually &nbsp; <strong> has </strong> &nbsp; breakfast at 8 |  Usualmente desayuna a las 8</mat-list-item>
          <mat-list-item role="listitem" class="teoria-info-card-text"> She never &nbsp; <strong> arrives </strong> &nbsp;  late | Nunca llega tarde </mat-list-item>
        </mat-list>      
      </mat-card-content>    
    </mat-card>


    <mat-card class="teoria-subtitle-card mt-2"> 
      <mat-card-content class="teoria-subtitle-card-text">
        <p>Recordemos: Al conjugar los verbos en tiempo presente, debe agregarse para la tercera persona del singular (He / She / It) una "s" al verbo base, mientras que para las demás personas el verbo permanece igual.</p>
      </mat-card-content>    
    </mat-card>

    <div class="row">
      <div class="col-6">
        <mat-card class="teoria-info-card mt-4" style="width: 80%; left: 10%;"> 
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem" class="teoria-info-card-text"> I &nbsp; <strong> &nbsp; live  </strong> &nbsp; in London </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> He &nbsp; <strong> lives  </strong> &nbsp; in London </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> She &nbsp; <strong> lives  </strong> &nbsp; in London </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> They &nbsp; <strong> live  </strong> &nbsp; in London </mat-list-item>
            </mat-list>      
          </mat-card-content>    
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="teoria-info-card mt-4" style="width: 80%; left: 10%;"> 
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem" class="teoria-info-card-text"> I &nbsp; <strong> &nbsp; go  </strong> &nbsp; to the cinema </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> You &nbsp; <strong> go  </strong> &nbsp; to the cinema </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> He &nbsp; <strong> goes  </strong> &nbsp; to the cinema </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> She &nbsp; <strong> goes  </strong> &nbsp; to the cinema </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> We &nbsp; <strong> go  </strong> &nbsp; to the cinema </mat-list-item>
              <mat-list-item role="listitem" class="teoria-info-card-text"> They &nbsp; <strong> go  </strong> &nbsp; to the cinema </mat-list-item>
            </mat-list>      
          </mat-card-content>    
        </mat-card>
      </div>
    </div>

    <hr class="teoria-hr">

    <mat-card class="teoria-subtitle-card"> 
      <mat-card-content class="teoria-subtitle-card-text">
        <p>Para realizar preguntas en este tiempo verbal, se usa el auxiliar <strong> DO o DOES </strong>   para la tercera persona del singular, como ya hemos visto. Y se contesta con Yes / No seguido de la persona y su auxiliar correspondiente afirmativo o negativo.</p>
      </mat-card-content>    
    </mat-card>

    <mat-card class="teoria-info-card mt-4" style="width: 40%; left: 30%;"> 
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" class="teoria-info-card-text"> <strong> Do  </strong> &nbsp; you live in London? </mat-list-item>
          <mat-list-item role="listitem" class="teoria-info-card-text">  Yes, I &nbsp; <strong> do.  </strong> </mat-list-item>
          <mat-list-item role="listitem" class="teoria-info-card-text">  <strong> Does </strong> &nbsp; she go to the cinema? </mat-list-item>
          <mat-list-item role="listitem" class="teoria-info-card-text"> No, she &nbsp; <strong> doesn't.  </strong> </mat-list-item>
        </mat-list>      
      </mat-card-content>    
    </mat-card>


    <mat-card class="teoria-subtitle-card mt-2"> 
      <div class="row">
        <div class="col-2">
          <img mat-card-image src="../../../../assets/imgs/question-mark.png" style="max-width: 100px; max-height: 100px; margin-left: 25px; margin-top: 0px;" alt="Photo 1">
        </div>
        <div class="col-10">
          <mat-card-content class="teoria-subtitle-card-text">
            <p>Para realizar una pregunta específica, se usa la "question word" <strong> (where, when, what, how, etc.) </strong>  y luego, se sigue el mismo método. Se responde usando la frase completa.</p>
          </mat-card-content>    
        </div>
      </div>
    </mat-card>


    <mat-card class="teoria-info-card mt-2" style="width: 70%; left: 15%;"> 
      <mat-card-content class="teoria-info-card-text">
        <p>Si se está hablando de una persona y se describe su casa, se usaría his o her, según el sexo de dicha persona.</p>
      </mat-card-content>    
    </mat-card>

    <h2 class="teoria-text-grande mt-3">Algunos ejemplos: </h2>
    <div class="row">
      <div class="col-6">
        <mat-card class="teoria-card-ejemplos">
          <img mat-card-image src="../../../../assets/imgs/back-to-school.png" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
          <mat-card-footer class="teoria-card-ejemplos-footer" style="display: flex; flex-direction: column; height: 4em; align-items: center; font-size: 1.4em;">
            <p>
              <strong> How </strong> does she go to school?
            </p>
            <p>
              She goes on foot.
            </p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="teoria-card-ejemplos">
          <img mat-card-image src="../../../../assets/imgs/they-go.png" style="max-width: 300px;max-height: 300px;" alt="Photo 2">
          <mat-card-footer class="teoria-card-ejemplos-footer" style="display: flex; flex-direction: column; height: 4em; align-items: center; font-size: 1.4em;">
            <p>
              <strong> Where </strong> do they go?.
            </p>
            <p>
              They go to the cinema.
            </p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="teoria-card-ejemplos">
          <img mat-card-image src="../../../../assets/imgs/laundry-machine.png" style="max-width: 300px; max-height: 300px;" alt="Photo 1">
          <mat-card-footer class="teoria-card-ejemplos-footer" style="display: flex; flex-direction: column; height: 4em; align-items: center; font-size: 1.4em;">
            <p>
              <strong> What </strong> do you do on Sundays?
            </p>
            <p>
              I do the laundry.
            </p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="teoria-card-ejemplos">
          <img mat-card-image src="../../../../assets/imgs/newspaper.png" style="max-width: 300px;max-height: 300px;" alt="Photo 2">
          <mat-card-footer class="teoria-card-ejemplos-footer" style="display: flex; flex-direction: column; height: 4em; align-items: center; font-size: 1.4em;">
            <p>
              <strong> When </strong>does she read the paper?
            </p>
            <p>
              She reads the paper from Monday to Friday.
            </p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

    <hr class="teoria-hr">

    <mat-card class="teoria-subtitle-card mt-2"> 
      <mat-card-content class="teoria-subtitle-card-text">
        <p>Ahora puedes ver el siguiente video para reforzar lo aprendido.</p>
      </mat-card-content>    
    </mat-card>
  
    <iframe [src]='url1' frameborder="0" allowfullscreen style="height: 500px;width: 750px; margin-left: 10em; margin-top: 1em;" ></iframe>


</div>