
    <mat-card class="login-card">
      <mat-card-title>EnglishSoft</mat-card-title>
      <mat-card-subtitle style="color: #eee"> Identificarse </mat-card-subtitle>
      <mat-card-content>
      <form ngNativeValidate>
        <p>
          <input type="text" required onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" (change)="onChange($event.target.value)" placeholder="ingrear DNI">
        </p>
      
        <div class="button">
          <button type="submit" (click)="login()" mat-flat-button color="accent">
            Ingresar
            <mat-icon>login</mat-icon>
          </button>
        </div>
      
      </form>
      </mat-card-content>
  </mat-card>